[Mapping]

# Here is where you specify the commands for Bowtie 2 read mapping.  Separate
# commands are used for paired-end reads and unpaired reads.

# The following values in all caps are variables that will be replaced by the
# program:
#   INDEX = the location of the Bowtie 2 index
#   PAIRED_READS_FILE_1 = a FASTG file of the first read in each pair
#   PAIRED_READS_FILE_2 = a FASTG file of the second read in each pair
#   UNPAIRED_READS_FILE = a FASTG file of unpaired reads

paired reads: bowtie2 -p 4 --local -x INDEX -1 PAIRED_READS_FILE_1 -2 PAIRED_READS_FILE_2

unpaired reads: bowtie2 -p 4 --local -x INDEX -U UNPAIRED_READS_FILE




[Assembly]

# Here is where you specify the commands for assembly.

# Separate commands are given for three different scenarios: assembling paired
# reads, unpaired reads and a combination of paired and unpaired reads.

# Some assemblers, such as Velvet, use multiple steps and you can therefore
# use multiple lines.  Each separate line will be executed separately.

# The following values in all caps are variables that will be replaced by the
# program:
#   PAIRED_READS_FILE_1 = a FASTG file of the first read in each pair
#   PAIRED_READS_FILE_2 = a FASTG file of the second read in each pair
#   UNPAIRED_READS_FILE = a FASTG file of unpaired reads
#   DIRECTORY = the directory that will contain the assembly output

paired reads: velveth DIRECTORY 61 -shortPaired -fastq -separate PAIRED_READS_FILE_1 PAIRED_READS_FILE_2
              velvetg DIRECTORY -ins_length auto -exp_cov auto -cov_cutoff auto

unpaired reads: velveth DIRECTORY 61 -short -fastq UNPAIRED_READS_FILE
                velvetg DIRECTORY -ins_length auto -exp_cov auto -cov_cutoff auto

both: velveth DIRECTORY 61 -shortPaired -fastq -separate PAIRED_READS_FILE_1 PAIRED_READS_FILE_2 -short -fastq UNPAIRED_READS_FILE
      velvetg DIRECTORY -ins_length auto -exp_cov auto -cov_cutoff auto

# It is also necessary to specify the filename and location of the assembler's
# final contigs file, relative to the directory where the assembly is run.

contigs: contigs.fa
graph: LastGraph
